<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Account">
        <setting id="email" type="text" label="Email" default="" />
        <setting id="password" type="text" label="Password" option="hidden" default="" />
        <setting id="device_id" type="text" label="Device ID" default="" visible="false" />
    </category>
</settings>
